# Core app packages
streamlit==1.33.0
openai==1.16.2

langchain==0.1.15
langchain-core==0.1.46
langchain-community==0.0.37
langchain-openai==0.1.2

# Language model support
pydantic==1.10.13
requests==2.31.0
urllib3==2.2.1
tenacity==8.2.3
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==23.2
tqdm==4.66.2
typing_extensions==4.11.0
toolz==0.12.1

# Data processing
pandas==2.2.1
numpy==1.26.4

# Streamlit rendering / console styling
rich==13.3.5

# Optional packages
# faiss-cpu==1.8.0
# pyarrow==14.0.1

